@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.border {
  border-width: 2px !important;
}

.box {
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.5em;
}

.box:hover {
  background-color: #dddddd;
}

.o-mark {
  color: #dc0000;
}

.x-mark {
  color: #34b3f1;
}
